*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.7 ); */
    background: rgb(109,33,101);
    background: linear-gradient(94deg, rgba(109,33,101,1) 6%, rgba(168,43,173,1) 49%, rgba(126,26,204,1) 85%);
}
main{
    margin-bottom: 20px;
}
.navbar-expand-lg{
    background: linear-gradient(94deg, rgba(109,33,101,1) 6%, rgba(168,43,173,1) 49%, rgba(126,26,204,1) 85%);
}
.navbar-nav a{
    color: #fff;
}
.container-fluid img{
    width: 150px;
}

.carousel-inner{
    max-height: 400px;
}
.carousel-caption h5{
    display: inline-block;
    font-weight: 600  ;
}

.carousel-item {
    max-width: 100%;
    height: 400px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article{
    display: flex;
}
footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    border-top: solid 3px;
    background-color: rgb(211, 198, 140);
}
footer div img{
    width: 40px;
    border-radius: 20px;
    margin: 2px;
}

.search{
    border: none;
}
.btn-outline-success{
    display: none;
}

.formulario{
    margin: 0 auto;
}
.form-check-label{
    color: rgb(255, 255, 255);
}
.form-check-input:hover{
    transition: 0.2s;
    cursor:pointer;
    transform: scale(1.2);
}

article{
    width: 900px;
    /* background-color: #fff; */
    margin: 0 auto;
/*     border: solid #f1f1f1 2px;
    border-radius: 20px;  */
}

/* tabla */
.tableContainer{
    margin-bottom: 34vh;
}
th{
    width: 300px;
    margin: 0 auto;
}
td{
    width: 300px;
}

/* Tarjeta Detail */
.detailContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.detailContainer img{
    width: 550px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}
.tarjetaDetail{
    height: 350px;
}
.textDetailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 350px;
    border: solid black;
    border-radius: 10px;

}
.textDetailContainer p {
    width: 300px;
    text-align: center;
}

.boxTextImg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    gap: 20px;
    background-color: #edf3ef;
    border: solid black;
    border-radius: 20px;
    padding: 20px;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
}

.carDescription{
    height: 100px;
}
.btndContainer{
text-align: center;
}
.btndContainer a{
    width: 200px;
}